<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="/static/catalog/styles.css">
</head>
<body>
    <div class="filtros" >
        <input type="text" id="searchInput" placeholder="Buscar autor o titulo">

        <select id="generoSelect">
            <option value="">Todos los géneros</option>
            <option value="Fantasía">Fantasía</option>
            <option value="Ciencia ficción">Ciencia ficción</option>
            <option value="Drama">Drama</option>
            <option value="Comedia">Comedia</option>
        </select>

       <div class="filtro-rango">
            <label>Páginas: <span id="minPagValue">1</span> - <span id="maxPagValue">1000</span></label>
            <!-- step="1" para que el rango no se quede en 100 de max -->
            <input type="range" id="minPag" min="1" max="1500" value="1" step="1">
            <input type="range" id="maxPag" min="1" max="1500" value="1500" step="1">
        </div>

        <button onclick="cargarLibros()">Filtrar</button>
    </div>

    <h1>📚 Biblioteca</h1>

    <div id="lista-libros">
        <table id="tabla-libros">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Género</th>
                    <th>Nº Páginas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for l in libros %}
                <tr>
                    <td>{{ l.titulo }}</td>
                    <td>{{ l.autor_nombre }} {{ l.autor_apellidos }}</td>
                    <td>{{ l.genero }}</td>
                    <td>{{ l.paginas }}</td>
                    <td>
                        <button class="editar">Editar</button>
                        <button class="eliminar">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="formulario">
        <h2>Añadir Libro</h2>
        <form id="form-libro">
            <input type="text" id="titulo" placeholder="Título">
            <input type="text" id="autor_nombre" placeholder="Nombre autor">
            <input type="text" id="autor_apellidos" placeholder="Apellidos autor">
            <input type="text" id="genero" placeholder="Género">
            <input type="number" id="paginas" placeholder="Nº páginas">
            <button type="submit">Guardar</button>
        </form>
    </div>

    <script src="/static/catalog/app.js"></script>
</body>
</html>
